# Figma Personal Access Token
# Figma → Settings → Security → Personal access tokens 에서 발급
FIGMA_TOKEN=figd_ZugTjBPFYxjGnskGFCK2Sws_GRUiZHxFR3OLLHB9

# Figma 파일 ID
# 파일 URL: https://www.figma.com/design/{FILE_KEY}/...
FIGMA_FILE_KEY=eRnV2DPVtHbGn5HSISS65O
